.after {
  position: absolute;
  content: " ";
  display: block;
  left: 0;
  top: 0;
  background: no-repeat center center transparent;
  background-size: cover;
}
.title-h2 {
  color: #FFFFFF;
  font-family: 'Montserrat SemiBold', "", sans-serif;
  font-size: 46px;
  font-weight: 300;
  line-height: 25px;
  font-style: normal;
}
.title-h4 {
  color: $color-main;
  font-family: 'Montserrat regular', "", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 42px;
  font-style: normal;
}
.border {
  height: 2px;
  width: 100%;
  margin: 0 0 25px 0;
  background-color: #656D8D;

}
.common-padding{
  padding-bottom: 30px;
}
.what-we-do h5{
  font-family: $font-family-Montserrat;
  font-weight: 300;
  color: $h5color;
  letter-spacing: 5px;
  //margin-bottom: -10px;
}


@mixin clearfix {
  &:before,
  &:after{
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin imagegrid ($qty, $margin) {
  width: ((100% - (($qty - 1) * $margin))/$qty);
  &:nth-child(n) {
    margin-right: $margin;
    margin-bottom: $margin;
  }
  &:nth-child(#{$qty}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}