

html,
body {
  height: 100%;
  font-family:$font-family-Work;
  font-size: 14px;
  position: relative;
}

html {
  overflow-y: scroll;
}
body {
  min-width: 100px;
  background: $color-main;
  font-family: $font-family-Work;
  font-size: 18px;
  line-height: 1.4;
  color: #000;
  font-weight: 400;
  font-style: normal;
}
a {
  cursor: pointer;
  color:$color-background;
  text-decoration: none;
  font-style: normal;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  font-style: normal;
  outline: none;
}
img {
  border: 0;
  vertical-align: middle;
}
ul,
ol {
  list-style-position: inside;
  list-style-type: none;
}
img {
  max-width: 100%;
}

h1{
  color:$color-main;
  text-align: center;
  font-family:$font-family-Montserrat;
  font-size: 68px;
  font-weight: 300;
  line-height: 50px;
  font-style: normal;
}
h2{
  color:$color-main;
  font-family: $font-family-Montserrat;
  text-align: center;
  font-size: 46px;
  font-weight: 300;
  line-height: 25px;
  font-style: normal;
}
h3 {
  color: $black;
  font-family: $font-family-Montserrat;
  font-size: 46px;
  font-weight: 600;
  line-height: 52px;
  font-style: normal;
}
p{
  font-family: $font-family-Work;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  line-height: 25px;
  color: $pcolor;
}
h4 {
  font-family: $font-family-Montserrat;
  text-align: center;
  font-size: 18px;
  margin-top: 28px;
  margin-bottom: 0;
  font-weight: Bold;
}
.padding-top{
  padding-top: 45px;
  color: $white;
  padding-bottom: 18px;
  font-family: $font-family-Work;
  font-weight: 400;
}

.pure-bttn{
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: $color-background;
  font-family:$font-family-Work;
  font-weight: 600;
  color: $color-main;
  font-size: 13px;
  text-decoration: none;
  display: block;

}
.pure-buton-custom {
  padding: 3px 35px;
  font-size: 13px;
  line-height: 37px;
  display: inline-block;
}
.btn-get-start{
  @extend .pure-bttn;
  @extend .pure-buton-custom;
  background:$color-background;
}
.btn-load{
  @extend .pure-bttn;
  @extend .pure-buton-custom;
  background:$btn-load-color;
}
.border-sideber{
  @extend .border;
  background-color:#cccccc;
}


/* ==========================================================================
  > Custom nav
  ========================================================================== */
