/* ==========================================================================
  > Footer
  ========================================================================== */
#footer {
  background-color:$menu-bg-color;
  padding: 57px 0 70px;
  a{
    color: $pcolor;
  }
  h4 {
    text-align: left;

  }
  p {
    color: $pcolor;
    text-align: left;
  }


}
.contact_info{

  ul{
    text-align: left;
    padding: 0;
    color: $pcolor;

    li{
      font-family: $font-main-work-san;
      font-size: 15px;
      line-height: 26px;
      list-style: none;
      position: relative;
      margin-bottom: 10px;
      padding-left: 28px;
      i {
        position: absolute;
        left: 0;
        top: 5px;
        color: $hover-color;
      }
    }
  }

}
.quick_links{
  ul{
    text-align: left;
    padding: 0;
    margin: 0;
    color: $color-main;

    li{
      font-family: $font-main-work-san;
      font-size: 15px;
      line-height: 35px;
      list-style: none;
      position: relative;
      margin-top: 0;
      padding-top: 0;

    }
  }
}

.grid {
 @include clearfix;
  .item {
    float: left;
    @include imagegrid(4, 1%);
  }
  img {
    display: block;
    max-width: 100%;
  }
}
.social-icon{
  ul{
    float: left;
    padding-left: 1px;
    li{
      width: 35px;
      height: 35px;
      background-color: #415297;
      text-align: center;
      border-radius: 50px;
      line-height: 35px;
      margin-left: 4px;

      &:hover{
        background-color: $menu-bg-color;
      }
    }
  }
}
/*==========================================
Footer copyright CSS
===========================================*/
#copyright {
  font-family: $font-main-work-san;
  font-weight: 500;
  padding: 25px 0 25px 0;
  font-size: 14px;
  color: $black;
  background: $color-main;
}
/*==========================================
  Map Section
===========================================*/
.custom_map {
  width:100%;
  height:686px;
  position: relative;
}

/*==========================================
  Contact Us Section
===========================================*/
#contact-section {
  @include clearfix;
  height: 478px;
  margin: 0;
  padding: 0;
  .contact-custom {
    @include clearfix;
    text-align: left;
    margin-top: 110px;
    padding: 60px 40px 40px 40px;
    background: $color-main;
    min-height: 478px;
    box-shadow: 0 0 2px 0 #9d9d9d;
    z-index: 9997;
    position: relative;

    h5{
      color: $h5color;
      letter-spacing: 7px;
      text-transform: uppercase;
    }

    .custom-form {
      text-transform: uppercase;
      position: relative;
      margin-left: 0;
      padding: 0;

      label {
        margin-top: 35px;
        margin-left: 0;
        padding-left: 0;
      }

      input{
        width:100%;
        padding:10px;
        box-sizing:border-box;
        background:none;
        outline:none;
        resize:none;
        border:0;
        transition:all .3s;
        border-bottom:2px solid #bebed2;
        box-shadow: none;
        border-radius: 0;
      }
      input:focus{
        border-bottom:2px solid #78788c;
        box-shadow: none;
        border-radius: 0;
      }
    }

    .highlight {
      color: red;
      margin-top: 20px;
    }
  }

}


.contact-button{
  @extend.btn-get-start;
  width: 131px;
  height: 58px;
  padding: 10px;
  margin-top: 40px;
  text-align: center;
  text-transform: none !important;

}

/*==========================================
  Our Services Section
===========================================*/
.service-section {
  background-color:$menu-bg-color;
  padding: 66px 0 75px;
}
.service-custom {
  h5 {
    text-align: center;
    color: $h5color;
    letter-spacing: 7px;
    text-transform: uppercase;
  }
  h3 {
    text-align: center;
    color: $color-main;
    padding-bottom: 30px;
  }
}
.sub-service {
  min-height: 170px;
  //background: red;
  padding: 30px 0;
  //position: relative;
  .sub-service-head {
    float: left;
    margin-left: 71px;
    margin-top: -50px;
    //margin-right: 0;
    //padding: 0;
    //position: absolute;
    //box-sizing: border-box;
    p {
      text-align: left!important;
      font-family: $font-family-Work;
      font-weight: 400;
      line-height: 26px;
      color: $pcolor;

    }
  }
}

#slider_map{
  margin-bottom: -90px;
  .regular{
    img{
      width: 100%;
    }
  }
}