/* ==========================================================================
  > header top start
  ========================================================================== */
.header-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 4px solid $blue;
  z-index: 9999;
}

.sidebar-toggle {
  position: absolute;
  top: 0;
  right: 60px;
  background: url('#{$assetPath}/top-icon-bar-bg.png') no-repeat 0 0 transparent;
  width: 70px;
  height: 44px;
  padding-top: 10px;
  text-align: center;
}

.hft-btn {
  display: none;
  color: $white;
  text-decoration: none;
  font-size: 1.1em;
  &:hover, &:focus, &:active {
    color: $white;
  }
}

.sidebar-open {
  display: inline-block;
}

#siderbar_fixed {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 410px;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.9);
  padding: 40px 50px;
  z-index: 9998;
  display: none;
  text-align: left;
  h4{
    text-align: left;
  }

  .padding-btn-pure{
    margin-bottom: 30px;
    color:$blue;

  }


  p{
    text-align: left;
    color: black;
  }
}

/* ==========================================================================
  > Accorden
  ========================================================================== */

.accordion.accordion-1 p {
  font-size: 1rem;
}

.accordion.accordion-1 .card {
  border: 0;
}

.accordion.accordion-1 .card .card-header {
  border: 0;
}

.accordion.accordion-1 .card .card-body {
  line-height: 1.4;
}

/* ==========================================================================
  > header menu start
  ========================================================================== */
.custom-nav {
  position: relative;
  background-color: $menu-bg-color;
}

.navbar-default .navbar-nav > li > a {
  color: $color-main;
}

.navbar {
  position: relative;
  min-height: 62px;
  margin-bottom: 0;
  border: 1px solid transparent;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
  margin: 9px;
}

.btn-default {
  color: $color-main;
  background-color: $menu-bg-color;
  border-color: $color-main
}

/* ==========================================================================
  > welcome section start
  ========================================================================== */
#welcome_section {
  position: relative;
  min-height: 900px;
  padding-top: 155px;
  padding-bottom: 185px;
  margin-bottom: 20px;
  background: $menu-bg-color url('#{$assetPath}/slide.jpg') no-repeat center bottom;
  background-size: cover;
}

.custom-form-control {
  width: 33%;
  height: 37px;
  padding: 19px 13px;
  font-size: 14px;
  line-height: 1.428571429;
  color: $form-contrl-colr;
  background-color: $color-main;
  background-image: none;
  border: 1px solid $color-main;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.caption {
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}

.caption-btn {
  padding-left: 5px;
}

.caption-btn h5 {
  color: $hover-color;
  text-decoration: underline;
}

/* ==========================================================================
  > Portfolio start
  ========================================================================== */
#portfolio_section {
  background: url('#{$assetPath}/bg2.jpg') no-repeat right 103px bottom 15px;
  min-height: 500px;
  position: relative;

  .portfolio-custom {
    text-align: center;
    margin-top: -146px;
    padding: 20px 0;
    background: $color-main;
    min-height: 350px;
    box-shadow: 0 0 2px 0 #9d9d9d;
    margin-bottom: 100px;

    p {
      color: $black;
      padding: 8px 44px 10px 22px;
    }
  }


}

.amazing {
  min-height: 417px;

  h3 {
    font-size: 40px;
    width: 75%;
    margin-top: -5px;
    margin-bottom: 18px;
  }
}

.single-model {
  background-color: $menu-bg-color;
  width: 100%;
  height: 200px;
  padding-top: 30px;

  h4 {
    color: $white;
    text-align: left;
    width: 69%;
    line-height: 26px;
    margin-top: -2px;
    padding-bottom: 10px;
    padding-left: 45px;
    font-weight: 300;
  }
}

.Left-single {

  .time-highlight {
    text-align: left;
    margin-left: 42px;
  }

  .right-single {
    float: right;
    padding-top: 10px;
    margin-right: 30px;

    h4 {
      color: $white;
      text-align: left;
      line-height: 24px;
      margin-top: 0;
      padding-left: 11px;
    }
  }
}

.custom-video-image {
  margin-top: 10px;
   img {
     height: 343px;
     width: 100%;
   }
}
.model-border {
  @extend .border;
  height: 1px;
  width: 82%;
  margin: 11px 0 5px 39px;
  background-color: #394B92;
}

.right-single {
  float: right;
  width: 57%;
  padding-top: 10px;
  margin-right: 20px;
}

.right-single h4 {
  width: 58%;
}

.left-single {
  float: left;

}

.time-highlight {
  font-size: 60px;
  font-weight: bold;
  color: $white;
  margin-left: 50px;
}

.right-single i {
  float: right;
  color: $white;
  margin-top: -53px;
  margin-right: 31px;
}

.statistics {
  @extend .what-we-do;
  text-align: center;
}

/* ==========================================================================
  > counter css start
  ========================================================================== */

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half {
  width: 49%;
}

.col_third {
  width: 32%;
}

.col_fourth {
  width: 23.5%;
}

.col_fifth {
  width: 18.4%;
}

.col_sixth {
  width: 15%;
}

.col_three_fourth {
  width: 74.5%;
}

.col_twothird {
  width: 66%;
}

.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth {
  position: relative;
  display: inline;
  display: inline-block;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
}

.end {
  margin-right: 0 !important;
}

/* Column Grids End */

/*.wrapper { width: 980px; margin: 30px auto; position: relative;}*/
.counter {
  background-color: white;
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 60px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-title-custom h2 {
  color: black;
  font-size: 300px;
  font-weight: bold;
  font-family: $font-montserrat;
}

.count-text {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  color: #477AE2;
}
//
//.fa-2x {
//  margin: 0 auto;
//  float: none;
//  display: table;
//}

//.row.vertical-divider {
//  overflow: hidden;
//}
//.row.vertical-divider > div[class^="col-"] {
//  text-align: center;
//  padding-bottom: 100px;
//  margin-bottom: -100px;
//  border-left: 3px solid black;
//  border-right: 3px solid black;
//}
//.row.vertical-divider div[class^="col-"]:first-child {
//  border-left: none;
//}
//.row.vertical-divider div[class^="col-"]:last-child {
//  border-right: none;
//}
/* ==========================================================================
  > work section start
  ========================================================================== */
#work_section {
  background-color: $menu-bg-color;
  min-height: 500px;
  margin-bottom: 20px;

  .isotop-header{
    padding: 20px 10px;

    h5,h3{
      color:white;
    }
  }
}

.isotop-section {
  padding: 50px 0;

}

.normal-content {
  padding: 50px 0;
}

.custom-text {
  color: $white;
  text-align: left;
  font-size: 17px;
}

/*-- Start isotop area start  --*/

.portfolio-area {
  margin-bottom: 30px;
  margin-top:-190px;

  .filters li {
    display: inline-block;
    list-style: none;
    //width: 100px;
    line-height: 50px;
    text-transform: uppercase;
    overflow: hidden;
    content: '/';
    padding: 0;
    margin: 0;


           a {
             text-decoration: none;
             color: $white;
             display: block;
             font-size: 14px;
             font-weight: 700;
             padding-left: 0;
             padding-right: 20px;
             padding-top: 5px;
             padding-bottom: 5px;
             &:hover{

               font-size: 14px;
               background-color: $menu-bg-color;
               font-weight: 700;
               border-bottom: none !important;

             }
             &:active, &:focus{
               text-decoration: underline;
               font-size: 14px;
               background-color: $menu-bg-color;
               font-weight: 500;
               border-bottom: 3px solid $menu-bg-color;

             }


    }


  }
}


//
//.portfolio-area li a:hover,.portfolio-area li a:active {
//  text-decoration: none;
//  display: block;
//  font-size: 14px;
//  background-color: $menu-bg-color;
//  font-weight: 700;
//  text-transform: uppercase;
//  text-align: center;
//
//}

.portfolio-area li a:active {
  color: $hover-color;
  background-color: red;
}

.portfolio-area #container {

  width: 100% !important;
}

.grid-item {
  text-align: center;
  width: 50%;
  @include clearfix;
}

.grid-item img {

  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: -47px;
  padding: 0 4px;


}

.isotope-pager .pager {
  display: none;
}

.iso-midle-decoration h2 {
  padding-top: 60px;
  color: whitesmoke;
  font-weight: 100;
  text-align: center;

}
.bottn-class{
  padding: 20px 5px;
  text-align: center;
}

/*==========================================
End isotop area   CSS
===========================================*/

/* ==========================================================================
  > clients_say start
  ========================================================================== */
#clients_say {
  min-height: 417px;


}

/* ==========================================================================
  > clients slider
  ========================================================================== */

* {
  box-sizing: border-box;

}

.slider {
  width: 100%;
  margin: 100px auto;

}

.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 24%;
}

#custom-slider img {
  width: 100%;
}


.slick-next:before {
  color: white;
  background-color: $blue;
  border-radius: 40px 40px;
  padding: 6px 13px 9px 14px;
 
}
.slick-prev:before{
  color: $blue;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 40px 40px;
  padding: 6px 13px 9px 14px;
}

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}

.slick-active {
  opacity: 1;
}

.slick-current {
  opacity: 1;
}
.lazy.slider{

  .image-slider {

    padding: 30px 10px;
    border: solid 1px #555;
    background-color: #ffffff;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    .color-class{
      color:black;
    }
}

}

.custom-qout {
  color: #2e6da4;
  padding: 8px 0;
  margin-right: 258px;
}

.funder-title {
  float: left;
  margin-left: 25px;
}

.funder-sub-title {
  margin-left: -143px;
  margin-top: 55px;
  color: black;
}

/* ==========================================================================
  > amazing_section
  ========================================================================== */
#amazing_section {
  min-height: 500px;
  background: url('#{$assetPath}/bg3.jpg') no-repeat right -70px bottom 23px;
}

.slider-class h3 {
  width: 50%;
}

.profile-class p {
  text-decoration: underline;
}

.slick-slide{
  .slide-details {
    display: none;
    padding: 10px 0;
  }

}
.slick-center{
  .slide-details {
    display: block !important;
  }
}


#custom-slider {
  .slick-center img {
    transform: scale(1.4);
    height: auto;
    z-index: 9998;
    position: relative;
    @include clearfix;

  }


  .slick-slide {
    margin: 1px;
  }
  .slick-track {
    padding-top: 17px;
  }

  .slide-details{
    & p{
      color: #00b3ee;
    }
    & h5{
      color: black;
      text-decoration: underline;
    }

    .social-icon ul li{
      width: 34px;
      height: 34px;
      background-color: white;
      text-align: center;
      border: solid 2px #BEBEBE;
      color: #00b3ee;
      line-height: 33px;
      margin-left: 3px;
      i {
        color: #BEBEBE;
      }
      &:hover {
        border: solid 2px #00b3ee;
        i {
          color: #00b3ee;
        }

      }
    }

    }
}


.slick-list draggable {
  padding: 0 0 !important;
}