@font-face {
  font-family: 'Railway';
  src: url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Work Sans';
  src: url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');
  font-weight: normal;
  font-style: normal;
}

@import "bootstrap-variables";
@import "bootstrap-compass";
@import "bootstrap";
@import "helpers";
@import "style";
@import "slick";
@import "slick-theme";
@import "style1";
@import "style2";

@import "responsive";












